<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
This is the Customer Form page

<!--<div th:replace="fragments::navbarfragement"></div>-->



<form th:action="@{/processCustomer}" th:method="post" th:object="${customer}">
    <input type="hidden" th:field="*{id}" />


    <label for="name"> Name</label>
    <input type="text" id="name" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br/>

    <label for="email"> Email</label>
    <input type="text" id="email" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> <br/>

    <label for="shippingAddress"> Shipping Address</label>
    <input type="text" id="shippingAddress" th:field="*{shippingAddress}"/>
    <span th:if="${#fields.hasErrors('shippingAddress')}" th:errors="*{shippingAddress}"></span> <br/>


    <input type="submit" value="Submit" class="btn btn-primary" />

</form>

</body>
</html>